@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 250, 243);
}
*{
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
}
.semaninha{
    height: 30px;
}
.insta{
    height: 30px;
}
.github{
    height: 30px;
}
.linkend{
    height: 30px;
}
header{
        display: flex;
        height: 10vh;
        width: 100%;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        justify-content: space-between;
        box-shadow: 1px 10px 5px  #60565676 
}
.social img:hover{
    transform: translateY(-5px);
}
.social img{
    margin-right: 5px;
}
main{
    width: 90vw;
    max-height: 55vh;
    min-height: 30vh;
    height: fit-content;
    background-size: cover;
    margin: 0 auto;
    margin-top: 2vh;
    border-radius: 20px;
    padding: 5px 20px;
    padding-right: 50px;
    box-sizing: border-box;
    color: white;
    padding-bottom: 20px;
}
h1{
    font-size: 1.7em
}
h2{
    font-size: 0.8em;
}
main button{
    margin-top: 10%;
    border: none;
    background-color: #00FF57;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main button:hover{
    width: 200px;
    
}
.spotify{
    height: 35px;
}
.Aplicativo{
    width: 85vw;
    margin: 0 auto;
}
.Aplicativo h3{
    font-weight: 700;
    font-size: 30px; 
    text-shadow: 5px 5px 5px #abababaa ;
}
.tecnologias{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-7vh);
}
.tecnologias h4{
    font-size: 25px;
    
}
.tec img{
    height: 50px;
}
.boxtec{
    display: flex;
    justify-content: space-around; 
    width: 90%;
}
.tec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-weight: 700;
}
.main2{
    height: 75vh;
    width: 90vw;
    margin: 0 auto;
    box-shadow: 2px 3px 20px rgba(128, 128, 128, 0.649);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20% 20%;
    box-sizing: border-box;
    padding: 20px;
    grid-column-gap: 10px;
    font-weight: 700;
}
.menus{
    width: 90vw;
    margin: 0 auto;
    height: 5vh;
    margin-top: 3vh;
    display: flex;
    align-items: end;
    overflow: hidden;
}
.menu{
    min-width: 70px;
    height: 5vh;
    background-color: rgb(186, 186, 186);
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    font-size: 10px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    overflow: hidden;
}
.menu img{
    height: 20px;
    margin-left: 8px;
}
.items{
   display: flex;
   align-items: center;
   font-size: 12px;
}
.items img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


@media only screen and (min-width: 500px) {
    .items{
        font-size: 1.2em;
        font-weight: 700;
    }
    .items img{
        width: 80px;
        height: 80px;
    }
    .main2{
        width: 75vw;
        padding: 20px 40px;
        overflow: scroll;
        grid-gap: 3vw;
        min-width: 490px;
        max-width: 75vw;
        grid-template-rows: 18%;
        grid-row-gap: 5px;
        overflow-x: hidden;
        grid-column-gap: 10px;
    }
    .menus{
        min-width: 490px;
        max-width: 75vw;
    }
    .semaninha{
        height: 50px;
    }
    .insta{
        height: 50px;
    }
    .github{
        height: 50px;
    }
    .linkend{
        height: 50px;
    }
    header{
        height: 100px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 10px 5px  #60565676;
        box-sizing: border-box;
        padding: 50px;
    }
    .social img:hover{
        transform: translateY(-5px);
        cursor: pointer;
    }
    .social img{
        margin-right: 15px;
    }
    .social{
        display: flex;
        align-items: center;
    }
    .social div{
        margin-right: 15px ;
        color: red;
        font-weight: 700;
    }
    .social div:hover{
        color: rgb(176, 0, 0);
        scale: 1.05;
        cursor: pointer;
    }
    main{
        background-image: url(/imagens/erik-mclean-QzpgqElvSiA-unsplash\ \(1\).jpg);
        width: 90vw;
        max-height: 120vh;
        background-size: cover;
        margin: 0 auto;
        margin-top: 2vh;
        border-radius: 20px;
        padding: 5px 20px;
        padding-right: 30%;
        box-sizing: border-box;
        color: white;
        padding-bottom: 20px;
    }
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 1.3em; 
        width: 80vw;
    }
    main button{
        margin-top: 7%;
        border: none;
        background-color: #00FF57;
        width: 250px;
        height: 70px;
        border-radius: 50px;
        font-weight: 700;
        font-size: 1.1em;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    main button:hover{
        width: 350px;
        cursor: pointer;
        
    }
    .spotify{
        height: 50px;
    }
    .Aplicativo{
        width: 89vw;
        margin: 0 auto;
    }
    .Aplicativo h3{
        font-weight: 700;
        font-size: 3em; 
        text-shadow: 5px 5px 5px #abababaa ;
    }
    .tecnologias{
        height: 30vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-shadow: 5px 5px 5px #abababaa ;
    }
    .tecnologias h4{
        font-size: 3em;
        
    }
    .tec img{
        height: 90px;
    }
    .boxtec{
        display: flex;
        justify-content: space-around; 
        width: 60%;
    }
    .tec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
    
  }

  @media only screen and (min-width: 1200px) {
    .items{
        font-size: 1.4em;
    }
    main{
        height: 80vh;
        padding-right: 50%;
        padding-left: 4%;
    }
    h1{
        font-size: 3.5em;
    }
    h2{
        font-size: 1.5em; 
        width: 500px;
    }
    .lado_a_lado{
        display: flex;
        align-items: center;
        justify-content:center;
        width: 100%;
        height: 40vh;
        margin-top: 4vh;
    }
    .Aplicativo{
        width: 40vw;
        margin: 0;
        transform: translateY(-20px);
        
    }
    .Aplicativo h3 {
        font-size: 3.5em;
    }
    .tecnologias{
        height: 30vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-shadow: 5px 5px 5px #abababaa ;
        
    }
}
@media (min-width: 700px) and (max-width: 1200px) { 
    .items{
        font-size: 1.3em;
    }
    h1{
        font-size: 3.5em;
    }
    h2{
        font-size: 1.5em; 
        width: 700px;
    }
    .Aplicativo{
        width: 89vw;
        margin: 0 auto;
    }
    .Aplicativo h3{
        font-weight: 700;
        font-size: 3.2em; 
        text-shadow: 5px 5px 5px #abababaa ;
    }
    .tecnologias{
        height: 30vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-shadow: 5px 5px 5px #abababaa ;
    }
    .tecnologias h4{
        font-size: 3em;
        
    }
    .tec img{
        height: 90px;
    }
    .boxtec{
        display: flex;
        justify-content: space-around; 
        width: 60%;
    }
    .tec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
}
@media only screen and (max-width: 318px){
    .items{
        font-size: 10px;
    }
    .items img{
        width: 40px;
        height: 40px;
    }
    .menu{
        font-size: 10px;
    }
    .menu img{
        height: 15px;
        margin-left: 4px;
    }
}
